@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Boldonse&family=Jersey+15&family=Oswald:wght@200..700&family=Playwrite+AU+SA:wght@100..400&family=Playwrite+VN:wght@100..400&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --cor1: rgb(5, 69, 84);
    --cor2: rgb(5, 32, 48);
    --cor3: white;
    --cor4: black;
    --cor5: rgb(103, 104, 109);
    --cor6: rgb(233, 235, 240);
}
@font-face {
    font-family: "Disney";
    src: url(waltograph/waltograph42.otf) format(opentype);
    font-style: italic;
    font-weight: bold;
}
body{
    background: linear-gradient(180deg, var(--cor1), var(--cor2));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
img{
    max-width: 350px;
    height: 120px;
    margin-top: 30px;
    margin: auto;
    display: block;
}
header > h1{
    font-family: "Disney", Arial, Helvetica,  sans-serif;
    text-align: center;
    color: var(--cor3);
    font-size: 6em;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}
form{
    background: var(--cor3);
    color: var(--cor4);
    border-radius: 10px;
    padding: 60px;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    margin-bottom: 150px;
    margin-top: 40px;
}
form > h2{
    color: var(--cor4);
    font-family: "Disney", Arial, Helvetica,  sans-serif;
    font-size: 2em;
}
form > p{
    color: var(--cor5);
    margin-top: 20px;
}
small{
    color: var(--cor5);
}
input[type="email"], input[type="password"]{
    padding: 25px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: var(--cor6);
    outline: none;
    border: none;
    width: 89%;
}
input[type="email"]:focus, input[type="password"]:focus{
    outline: none;
}
button{
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    color: var(--cor3);
    border: none;
    background: var(--cor4);
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
}
footer{
    background: var(--cor3);
    padding: 20px;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    color: var(--cor5);
}
footer > p{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
a{
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    color: var(--cor5);
    text-decoration: none;
}
a:hover{
    color: var(--cor4);
    text-decoration: underline;
}
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap; /* Permite que os itens quebrem linha */
    gap: 2.5%;
    justify-content: center; /* Centraliza quando quebrar */
}
#resultado{
    color: rgb(229, 9, 9);
    font-family: "Oswald", Arial, Helvetica, sans-serif;
}